.search-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 50em) {
  .search-modal {
    padding-top: 40px;
    padding: 40px 32px 32px;
  }
}

.search-modal:before,
.search-modal__backdrop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.search-modal:before {
  content: '';
  background-color: var(--theme-bg);
  opacity: 0.875;
}

.search-modal__interface {
  position: relative;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 1em;
  z-index: 1;
  overflow-y: auto;
}

@media (min-width: 50em) {
  .search-modal__interface {
    max-width: 720px;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

.search-modal__input-container {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: 42px;
  background-color: var(--theme-divider);
  color: var(--theme-text-light);
  border: 1px solid var(--theme-text-lighter);
  padding: 1em;
  box-shadow:
    0 8px 16px 0 rgba(37,44,97,.145),
    0 3px 6px 0 rgba(93,100,148,.2);
  transition:
    color 120ms ease-out,
    border-color 200ms ease-out;
}

.search-modal__input-container:hover {
  color: var(--theme-text);
}

.search-modal__input-container.is-focused {
  color: var(--theme-text);
  border-color: var(--theme-text);
}

.search-modal__input-container.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (min-width: 50em) {
  .search-modal__input-container {
    border-radius: 8px;
  }
}

.search-modal__input-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.search-modal__input {
  position: relative;
  color: var(--theme-text-light);
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 0.2em 0;
  margin-right: 0.6em;
}

.search-modal__input::placeholder {
  color: var(--theme-text-lighter);
}

@media (min-width: 50em) {
  .search-modal__input {
    font-size: 20px;
  }
}

.search-modal__input:focus,
.search-modal__input:hover {
  color: var(--theme-text);
  border-color: var(--theme-text-light);
}

.search-modal__cancel-btn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--theme-text-lighter);
  border-radius: 12px;
  color: var(--theme-text-light);
  align-self: stretch;
  font-size: 0.9em;
}

.search-modal__cancel-btn:hover,
.search-modal__cancel-btn:focus {
  border-color: var(--theme-text-light);
  color: var(--theme-text);
}
