.search-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;

  @media (min-width: 50em) {
    padding-top: 40px;
    padding: 40px 32px 32px;
  }

  &::before,
  &__backdrop {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: '';
    background-color: var(--sl-color-bg);
    opacity: 0.875;
  }
}

.search-modal__interface {
  position: relative;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 1em;
  z-index: 1;
  overflow-y: auto;

  @media (min-width: 50em) {
    max-width: 640px;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

.search-modal__input-container {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: 42px;
  background-color: var(--sl-color-black);
  color: var(--sl-color-gray-2);
  border-bottom: 1px solid var(--sl-color-gray-5);
  padding: 12px;
  box-shadow: var(--sl-shadow-md);
  transition:
    color 120ms ease-out,
    border-color 200ms ease-out;

  @media (min-width: 50em) {
    border-radius: 8px;
    border: 1px solid var(--sl-color-gray-5);
  }

  &:hover {
    color: var(--sl-color-gray-2);
  }

  &.is-focused {
    color: vvar(--sl-color-gray-1);
    border-color: var(--sl-color-gray-1);
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.search-modal__input-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.search-modal__input {
  position: relative;
  color: var(--sl-color-gray-2);
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  margin-right: 0.6em;

  @media (min-width: 50em) {
    font-size: 16px;
  }

  &::placeholder {
    color: var(--sl-color-gray-5);
  }

  &:focus,
  &:hover {
    color: var(--sl-color-white);
    border-color: var(--sl-color-white);
  }
}

.search-modal__cancel-btn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--sl-color-gray-3);
  border-radius: 8px;
  color: var(--sl-color-gray-3);
  align-self: stretch;
  font-size: 0.7em;
  transition: all 200ms ease-out;

  &:hover,
  &:focus {
    border-color: var(--sl-color-gray-1);
    color: var(--sl-color-gray-1);
  }
}

.search-modal__output-container {
  box-shadow: var(--sl-shadow-md);
  margin-bottom: 20px;
}