/*
Reference
light: https://files.stork-search.net/releases/v1.6.0/basic.css
dark: https://files.stork-search.net/releases/v1.6.0/dark.css
*/

.stork-wrapper {
  position: relative;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 1em;

  --stork-blue-2: #a5d8ff;
  --stork-blue-3: #74c0fc;
  --stork-blue-4: #4dabf7;
  --stork-blue-5: #339af0;
  --stork-blue-7: #1c7ed6;
  --stork-gray-8: #343a40;
  --stork-gray-9: #212529;
  --stork-yellow-2: var(--sl-color-orange-low);

  --stork-border-color: var(--sl-color-gray-5);
  --stork-background-color: var(--sl-color-black);
  --stork-text-color: var(--sl-color-gray-1);

  --stork-input-border-radius: 8px;
}

.stork-wrapper *,
.stork-wrapper *:before,
.stork-wrapper *:after {
  box-sizing: border-box;
}

.stork-wrapper .stork-input {
  width: 100%;
  height: 2.4em;
  font-size: 1em;
  padding: 0.4em 0.8em;
  position: relative;
  box-shadow: inset 0 0.1em 0.3em hsla(0, 0%, 0%, 0.1);
  border: 1px solid var(--stork-border-color);
  border-radius: var(--stork-input-border-radius);
  background-color: var(--stork-background-color);
  color: var(--stork-text-color);
  font-family: inherit;
  outline: none;
}

.stork-wrapper .stork-progress {
  position: absolute;
  display: block;
  content: "";
  bottom: 1px;
  left: 0;
  background-color: var(--sl-color-text-accent);
  height: 1px;
  transition: width 0.25s ease, opacity 0.4s ease 0.4s;
  margin-left: 8px;
  max-width: calc(100% - 16px);
}

.stork-wrapper .stork-output {
  position: relative;
  width: 100%;
  margin-top: 52px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  color: var(--stork-text-color);
  font-weight: 400;
  font-family: inherit;
}

.stork-wrapper .stork-attribution a:link,
.stork-wrapper .stork-attribution a:visited {
  color: var(--sl-color-text-accent);
}

.stork-wrapper .stork-output-visible {
  border: 1px solid var(--stork-border-color);
  background: var(--stork-background-color);
}

.stork-wrapper .stork-message {
  width: 100%;
  padding: 0.5em 1em;
  color: var(--stork-text-color);
}

.stork-wrapper .stork-attribution {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: var(--stork-text-color);
}

.stork-wrapper .stork-results {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  max-height: 25em;
  overflow-y: scroll;
  border-top: 1px solid var(--stork-border-color);
  border-bottom: 1px solid var(--stork-border-color);
}

.stork-wrapper .stork-result:not(:last-child) {
  border-bottom: 1px solid var(--stork-border-color);
}

.stork-wrapper .stork-result.selected {
  background: var(--sl-color-blue-low);
}

.stork-wrapper .stork-result a:link {
  padding: 1em;
  display: block;
  color: currentcolor;
  text-decoration: none;
}

.stork-wrapper .stork-result p {
  margin: 0;
}

.stork-wrapper .stork-title {
  font-weight: bold;
  font-size: 0.95em;
  margin: 0;
  color: var(--sl-color-text-accent);

  /* Flexbox container for the title and the score, when debugging */
  display: flex;
  justify-content: space-between;
}

.stork-wrapper .stork-excerpt-container {
  margin-top: 0.75em;
}

.stork-wrapper .stork-excerpt {
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
  color: var(--stork-gray-8);

  /* Flexbox container for the title and the score, when debugging */
  display: flex;
  justify-content: space-between;
}

.stork-wrapper .stork-excerpt:not(:last-of-type) {
  margin-bottom: 0.6em;
}

.stork-wrapper .stork-highlight {
  background-color: var(--stork-yellow-2);
  color: var(--sl-color-text-accent);
  font-weight: bold;
  padding: 0 1.5px;

  :root[data-theme="dark"] & {
    color: var(--stork-background-color);
  }
}

.stork-wrapper .stork-error {
  outline: 2px solid var(--sl-color-red);
}

.stork-wrapper .stork-close-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  right: 0;
  margin: 8px;
  height: 26px;
  width: 26px;
  padding: 4px;
  background: var(--sl-color-black);
  border: 1px solid var(--sl-color-gray-3);
  border-radius: 4px;
  font-size: 0.9em;
  color: var(--sl-color-gray-3);
  line-height: 1;

  @media (min-width: 50em) {
    top: 70px;
    margin: 2px;
  }

  svg {
    width: 0.7em;
    position: relative;
    margin: auto;
  }

  &:hover,
  &:focus {
    color: var(--sl-color-gray-1);
    border-color: var(--sl-color-gray-1);
    cursor: pointer;
  }

  &:active {
    color: var(--sl-color-white);
    border-color: var(--sl-color-white);
  }
}

/* dark-theme */

:root[data-theme="dark"] .stork-wrapper {
  --stork-blue-2: #a5d8ff;

  --stork-violet-4: #9775fa;
  --stork-violet-5: #845ef7;
  --stork-violet-10: #52366d;

  --stork-lime-3: #c0eb75;

  --stork-gray-1: #f1f3f5;
  --stork-gray-3: #dee2e6;
  --stork-gray-7: #495057;
  --stork-gray-8: #343a40;

  --stork-yellow-2: var(--sl-color-orange);


  .stork-attribution a:link,
  .stork-attribution a:visited {
    color: var(--stork-blue-2);
  }

  .stork-result.selected {
    background: var(--sl-color-purple-low);
  }
  
  .stork-excerpt {
    color: var(--stork-gray-3);
  }
}
